.listing {
  margin-bottom: var(--space-md) !important;
}

.listing-item {
  color: var(--gray);
}

.listing-item:not(:last-child) {
  margin-bottom: var(--space-sm);
}

.listing-item::before {
  content: "";
  min-width: 7px;
  height: 7px;
  background-color: var(--dark);
  border-radius: 50%;
  display: block;
  margin-top: 7px;
}
