.cookies-card {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bs-white);
  box-shadow: 0 0 10px rgba(0 0 0 / 0.2);
  padding: var(--space-lg) 0;
  /* color: var(--bs-white); */
  animation: cookieAnimation 1s ease-in-out;
  transition: 0.7s;
}

.cookies-card.no-active {
  bottom: -100%;
}

.cookie-title {
  color: var(--primary);
}

.cookie-desc {
  color: var(--gray);
  line-height: 1.7;
  margin-bottom: var(--space-md);
}

.cookie-desc a {
  color: var(--bs-primary);
}

@keyframes cookieAnimation {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
