.blog-item {
  background-color: var(--bs-white);
  box-shadow: 0 0 10px rgba(0 0 0 / 0.1);
  border-radius: 10px;
}

.blog-item img {
  border-radius: 10px 10px 0 0;
  min-height: 200px;
  margin-bottom: var(--space-md);
}

.blog-item .blog-item-body {
  padding: var(--space-md);
}

.blog-item .blog-item-title {
  color: var(--dark);
  margin-bottom: var(--space-sm);
}

.blog-item .blog-item-desc {
  color: var(--gray);
  line-height: 1.7;
}
